<%= title 'Versiones' %>

<table>
  <% versions.each do |version| %>
  <tr>
    <td><%= time_ago_in_words version.created_at %></td>
    <td><%= version.event %></td>
    <td><%= version.item_type %>(<%= version.item_id %>)</td>
    <td><%= version.resource %></td>
    <td><%= version.group %>(<%= version.group_id %>)</td>
    <td><%= version.user %>[<%= version.whodunnit %>]</td>
    <td><%= version.object %></td>
  </tr>
  <% end %>
</table>